name: frontend-workflows
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: docker hub login
        uses: docker/login-action@v3
        with:
         username: ${{secrets.DOCKER_USERNAME}}
         password: ${{secrets.DOCKER_PASSWORD}}
      - name: build the docker image
        run: docker build -t advanced-react:latest -f Dockerfile .
      - name: tag the docker image
        run: docker tag advanced-react:latest ${{secrets.DOCKER_USERNAME}}/advanced-react:latest
      - name: push the docker image
        run: docker push ${{secrets.DOCKER_USERNAME}}/advanced-react:latest
    